    {% if site.copyright or site.email %}

      <footer>
        <div class="copyright">
          Insurance for Freelancers is affiliated with <a href="http://insurancebyjack.co.uk/">Insurance by Jack</a>.
        </div>
      </footer>
      
    {% endif %}
    
    <script src="{{ '/assets/jquery-2.1.1.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/viewportchecker.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts.js' | prepend: site.baseurl }}"></script>

  </body>

</html>